.sax-guy-helps-you-focus {
    transition: 3s;
    position: fixed;
    z-index: 10000000 !important;
}


/* TOP */
.sax-guy-helps-you-focus.sax-top {
    transform: rotate(180deg);
}


/* LEFT */
.sax-guy-helps-you-focus.sax-left {
    transform: rotate(90deg);
}


/* RIGHT */
.sax-guy-helps-you-focus.sax-right {
    transform: rotate(270deg);
}
