$orange : rgb(251, 156, 48);

body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    max-width: 900px;
}

h1 {
    letter-spacing: 1px;
    margin-top: 5rem;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
    color: orange;
    text-transform: uppercase;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

h3 {
    font-size: 2.0rem;
    letter-spacing: 0.2px;
    font-weight: bold;
    color: rgb(0, 141, 214);
    margin-top: 3rem;
}


.sub-headline {
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-bottom: 3rem;
}


a.install {
    display: inline-block;
    background-color: $orange;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 1rem;
    letter-spacing: 0.5px;
    //margin-bottom: 5rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.block1 {
    background-color: rgb(19, 125, 198);
    color: white;
    text-align: center;

}

.block1.end {
    padding-bottom: 5rem;
}

.block2 {
    text-align: center;

    a {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}


.block3 {
    padding-top: 2rem;
    background-color: rgb(244,244,244);

    a {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
}

.burst {
    position: relative;
    background: url(img/starburst.svg) no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.block4 {
    padding-top: 5rem;
    padding-bottom: 3rem;
    text-align: center;

    a {
        margin-top: 3rem;
    }
}

.sax1, .sax2 {
    position: absolute;
    bottom: 0;
    max-width: 20%;
}

.sax1 {
    left: 0;
}

.sax2 {
    right: 0;
    transform: scaleX(-1);
}
